@import './variables.scss';
@import './mixins.scss';
@import './keyframes.scss';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=DynaPuff:wght@400;700&family=Inter:wght@300;500&family=Open+Sans&family=Oswald:wght@300;500;700&family=Raleway:wght@400;700&family=Roboto+Mono:wght@300;400&display=swap');
@import './variables.scss';

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background-color: $color;
	font-family: 'Roboto Mono';
}

h1{
	margin-top: 20px;
	font-size: 40px;
	text-align: center;
	color: $text-color;
	font-weight: bold;
}

h2{
	margin-bottom: 20px;
	font-size: 35px;
	text-align: center;
	color: $first-color;
	letter-spacing: 5px;
}

.container{
	padding: 12px;
	max-width: 500px;
	margin: auto;
	.fila{
		display: flex;
		justify-content: space-between;
		text-align: center;
		margin: 10px 0;
		.palabra{
			@include containerInput;
		}
		input{
			@include containerInput;
			background: transparent;
			outline: none;
		}
	}
	button{
		border: none;
		background-color: $color;
		color: $text-color;
		display: block;
		width: fit-content;
		margin: auto;
		border-radius: 30px;
		font-size: 20px;
		padding: 7px 10px;
		animation: zoom 1.5s infinite linear;
	}
}

.niveles{
	background-color: $black-color;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	padding: 10px 0;
	.nivel{
		background-color: $grey-color;
		width: 60px;
		height: 50px;
		margin: 5px;
		position: relative;
		border-radius: 10px;
		transition: .6s;
		display: flex;
		justify-content: center;
		align-items: center;
		i{
			font-size: 35px;
			color: $black-color;
		}
	}
}

.modal{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: 999;
	background-color: $grey-color;
	opacity: 0.9;
	color: $text-color;
	font-size: 25px;
	i{
		margin-top: 20px;
		color: yellow;
		font-size: 60px;
		animation: zoom 1.5s infinite linear;
	}
}

.correcta{
	color: $correct-color !important;
	transition: .5s;
}

.completado{
	background-color: $completado-color !important;
}

.completado i{
	color: $text-color !important;
}

.invisible{
	display: none;
}









@media screen and (min-width: 768px){
	h1{
		margin-top: 200px;
	}
	h2{
		margin: 20px auto;
	}
	.niveles{
		.nivel{
			width: 80px;
			height: 80px;
			margin: 20px;
			border-radius: 20px;
			i{
				font-size: 35px;
			}
		}
	}
}




@media screen and (min-width: 1024px){
	h1{
		margin-top: 60px;
	}
}